.lightbox {
  margin-bottom: 20px;
  background: #8ecae6;
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

.lightbox-close {
  padding: 0 5px;
  background: #219ebc;
  color: white;
  position: absolute;
  top: 1;
  right: 1;
  margin: 5px;
}

.list-item {
  padding: 10px;
  margin-bottom: 10px;
  background: #8ecae6;
  border: 1px solid #000;
}

.list-item-1 {
  position: relative;
  left: -15px;
}

.list-item-2 {
  position: relative;
  left: 10px;
  bottom: -20px;
}
